body {
  margin-top: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
  border: 2px solid black;
  width: 25rem;
  margin: auto;
  background-color: rgb(237, 237, 237);
  padding: 0.8rem;
}

hr {
  border: 1px solid rgba(128, 128, 128, 0.223);
  margin-bottom: 0.5rem;
}

h3 {
  font-size: larger;
  margin: 0;
  font-weight: normal;
  padding-bottom: 0.2rem;
}

a {
  text-decoration: none;
  color: rgb(60, 100, 166);
}

li {
  padding: 10px;
}

footer>a>h3 {

  font-size: larger;
  border: 2px solid black;
  box-sizing: border-box;
  width: 100%;
  padding: 1.2rem;
  background-color: rgb(163, 195, 222);
}